@font-face {
    font-family: 'Title';
    src: url(fonts/Amertha_PERSONAL_USE_ONLY.ttf);
}

body {
    background-color: antiquewhite;
}

/*--------------------------------------------------*/
/*-------------------- HEADER --------------------*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    align-items: stretch;

    border-style: solid;
    width: 80%;
    margin: 10px;
}

.image-container {
    display: flex;
    align-items: center;

    flex: 1;
    max-width: 40%;
}

.img_intro {
    width: 100%;
    height: auto;
}

.nevii_blog {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

/*--------------------------------------------------*/
/*-------------------- QUALITÉS --------------------*/

@keyframes fade {
    5%, 16% { opacity: 1; }
    25%, 95% { opacity: 0; }
}

.qualites {
    position: relative;
    height: 5em;
    overflow: hidden;
}

.qualite {
    position: absolute;
    opacity: 0;
    animation: fade 12s infinite;
    font-size: 250%;
}

/* Animation spécifique pour chaque adjectif */
.qualite:nth-child(1) {
    animation-delay: 0s;
}

.qualite:nth-child(2) {
    animation-delay: 2s;
}

.qualite:nth-child(3) {
    animation-delay: 4s;
}

.qualite:nth-child(4) {
    animation-delay: 6s;
}

.qualite:nth-child(5) {
    animation-delay: 8s;
}

.qualite:nth-child(6) {
    animation-delay: 10s;
}

/* -------------------------------------------------- */
/* -------------------------------------------------- */


/*----------------------------------------------------*/
/*-------------------- RESPONSIVE --------------------*/

@media (max-width: 770px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .nevii_blog {
        flex: none;
        text-align: center;
    }

    .qualites {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .qualite {
        font-size: 200%;
    }

    h1 {
        font-size: 200%;
    }
}